UnitTestProject1/Service References/ProductoWSC/Producto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigobarra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProducto" nillable="true" type="tns:EProducto" />
  <xs:complexType name="ArrayOfEProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProducto" nillable="true" type="tns:EProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProducto" nillable="true" type="tns:ArrayOfEProducto" />
</xs:schema>