UnitTestProject1/Service References/ProductoWSC/Producto3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFFLORES.WebService.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductoInexistente">
    <xs:sequence>
      <xs:element minOccurs="0" name="exCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="exError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="exProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoInexistente" nillable="true" type="tns:ProductoInexistente" />
</xs:schema>